@import './../../scss/colors.scss';

.c-navbar-container{
    display: flex;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    box-shadow: 0px -10px 1px rgba(18, 19, 22, 0.1);
    align-items: center;
    justify-content: center;
    & ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    & li {
        display: flex;
        margin: 20px;

    }

}

.c-navbar-button {
    display: flex;
    &__home {
        width: 24px;
        height: 24px;
        background-image: url(../../../public/assets/icons/protectora.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__map {
        width: 24px;
        height: 24px;
        background-image: url(../../../public/assets/icons/protectora.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__adopt {
        width: 24px;
        height: 24px;
        background-image: url(../../../public/assets/icons/protectora.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__profile {
        width: 24px;
        height: 24px;
        background-image: url(../../../public/assets/icons/protectora.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
    &__more {
        width: 24px;
        height: 24px;
        background-image: url(../../../public/assets/icons/protectora.png); 
        background-position: center;
        background-size: contain;
        background-color: transparent;
        
    }
}

.active {
    color:red;
}