.p-main-container{
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 100vw;
}
.p-main-holder {
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 100vw;
}
.p-main-carousel {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    border-bottom: 1px solid orange;
    padding: 20px;
}