@import './../../scss/colors.scss';

.o-c-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.o-c-button{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    padding: 20px;
}
.o-c-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: -20vh
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

.carousel-indicators [data-bs-target]{  
    width: 15px !important;
    height: 15px !important;
    background-color: rgb(250, 156, 147) !important;
    border-radius: 50% !important;
    margin: 5px;
}
.d-block{
    height: 156px;
    width:  238px;
}
.carousel-item{
    h1{
        color: $ocean-color !important;
        height: 90px;
        width: 256px;
        font-size: 25px;
    }
    p{
        color: $black-color !important;
        font-size: 16px;

    }    
    }
.carousel-caption{
    color: $ocean-color !important;
        
}
.carousel-control-prev-icon {
    color: transparent !important;
    background-color: transparent !important;
} 
.carousel-control-next-icon {
    color: transparent !important;
    background-color: transparent !important;
}  


