.c-button-users {
    height: 50px;
    width: 80vw;
    background-color:white;
    color:rgb(1 ,116, 142) ;
    size: 16px;
    border:solid;
    border-color:rgb(1 ,116, 142) ;
    img{
        width: 24px;
        height: 24px;
        
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    i{
        color:orange
    }

}